.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem 2rem;
    justify-items: center;
}

.menu-item {
    gap: 1rem 2rem;
    background: var(--white);
    border-radius: var(--borderRadius);
}

.img {
    object-fit: cover;
    height: 200px;
    width: 100%;
    height: 15rem;
    border-top-right-radius: var(--borderRadius);
    border-top-left-radius: var(--borderRadius);
    display: block;
}

.item-info {
    padding: 1.5rem;
}

.item-info header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1.25rem;
}

.item-info h5 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 1.25rem;
    text-transform: capitalize;
}

.item-price {
    background: var(--primary-500);
    color: var(--white);
    padding: 0.25rem 0.5rem;
    letter-spacing: var(--letterSpacing);
    border-radius: var(--borderRadius);
    align-self: flex-start;
}

.item-text {
    line-height: 2;
    color: var(--grey-500);
}

@media screen and (max-width: 992px) {

    .section-center {
        grid-template-columns: 1fr 1fr;
        align-items: start;
    }
}

@media screen and (max-width: 600px) {
    .section-center {
        grid-template-columns: 1fr;
        align-items: start;
    }

    .menu-item {
        max-width: 400px;
    }
}